@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0ed1df;
}

::-webkit-scrollbar-thumb {
    background: #0ed1df;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #0c8faf;
}
